footer {
  text-align:center;
  margin-top: 40px;
  .footer-msg-wrap {
    padding:20px;
    background:$teal;
    color:white;
  }
  a {
    border-bottom:1px solid white;
    &:link, &:visited {
      color:white;
    }
    &:hover {
      border-bottom:none;
    }
    
  }
}