.front-page-wrap {
  height: 100%;
  
  .intro--wrap {
    // text-align:center;
    .intro {
      // color:white;
      // background:$teal;
      padding:40px 10px 0px;
    }
  }

  .main-page-link {
    padding:80px;
    font-size:4rem;
    text-transform:uppercase;
  }
}