$default-transition: .3s ease;

body {
  font-size:16px;
  font-family:'Open Sans', Helvetica, Arial, sans-serif;
}

.app-wrap {
  padding:80px 20px;
}

// main.content {
//   max-width:1170px;
//   margin-left:auto;
//   margin-right:auto;
// }

a {
  transition: color $default-transition;
  color:black;
  &:visited {
    color:black;
  }
  &:hover {
    color:blue;
    text-decoration:none;
  }
}