@import 'fonts';
@import 'colors';

$default-transition: .3s ease;
$breakpoint-sm: 34.75rem; //556 px
$breakpoint-md: 47.9375rem; //767 px

body,html {
  height:100%;
}


body {
  font-size:16px;
  font-family:'Open Sans', Helvetica, Arial, sans-serif;
  // background: url('../images/LA-flag-edit.jpg') no-repeat bottom left;
  // background-size:30%;
}

.Raleway-header {
  @extend .Raleway;  
  letter-spacing: .03em;
}

h {
  &1{
    @extend .Raleway-header;
  }
  &2{
    @extend .Raleway-header;
    color:$blue;
    margin-bottom: 30px;
    @include breakpoint($breakpoint-sm) {
      line-height:1.3;
      margin-bottom: 10px;
    }
  }
  &3{
    @extend .Raleway-header;
    font-size:3rem;
    font-weight:bold;    
    line-height:1.4;
  }
}

.app-wrap {
  position:relative;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content-wrap {
  flex: 1 0 auto;
  text-align: center;
  @include breakpoint($breakpoint-sm) {
    text-align: left;
    padding-top:20px;
    padding-bottom:20px;
  }
}

// main.content {
//   max-width:1170px;
//   margin-left:auto;
//   margin-right:auto;
// }

a {
  transition: all $default-transition;
  color:black;
  &:hover {
    color:$blue;
    text-decoration:none;
    border-bottom:1px solid $blue;
  }
}

.btn {
  white-space: normal;
  transition: background-color $default-transition;
}

.button {
  @extend .btn;
}

.button-primary {
  @extend .btn-primary;
}

input[type=search] {
  border:0;
}

