@import 'fonts';
@import 'colors';

$default-transition: .3s ease;

body,html {
  height:100%;
}


body {
  font-size:16px;
  font-family:'Open Sans', Helvetica, Arial, sans-serif;
}

.Raleway-header {
  @extend .Raleway;  
  font-weight:bold;
  letter-spacing: .05em;
}

h {
  &1{
    @extend .Raleway-header;
  }
  &2{
    @extend .Raleway-header;
    color:$blue;
    @media (min-width: 40.375rem) {
      line-height:1.4;
    }
  }
  &3{
    @extend .Raleway-header;
  }
}

.app-wrap {
  position:relative;
  padding:40px 20px 0;
  min-height:100%;
  border-top:24px solid $blue;
}

// main.content {
//   max-width:1170px;
//   margin-left:auto;
//   margin-right:auto;
// }

a {
  transition: color $default-transition;
  color:black;
  &:visited {
    color:black;
  }
  &:hover {
    color:blue;
    text-decoration:none;
  }
}

.btn {
  white-space: normal;
}

.button {
  @extend .btn;
}

.button-primary {
  @extend .btn-primary;
}