header {
  position:absolute;
  top:0;
  left:0;
  right:0;
  text-align:center;
  text-transform:uppercase;
  font-weight: bold;
  .header-msg-wrap {
    padding:20px;
    background:$teal;
    color:white;
  }
}