header {
  text-align:center;
  text-transform:uppercase;
  font-weight: bold;
  @extend .Raleway-header;
  .header-msg-wrap {
    padding:20px;
    background: $blue;
    color:white;
  }
  a {
    color: #FFF;
    &:active,
    &:focus,
    &:hover {
      text-decoration: none;
      color: #FAFAFA;
    }
  }
}