// Mixins
@import "mixins/text";
@import "mixins/flex";
@import "mixins/breakpoints";

// Automatically injected Bower dependencies via wiredep (never manually edit this block)
// bower:scss
@import "../../bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
@import "../../bower_components/font-awesome/scss/font-awesome.scss";
// endbower

// Common
@import 'common/global';
@import 'common/flex-box';
@import 'common/colors';
@import 'common/typography';

// Bootstrap Overrides
@import 'overrides/modals';
@import 'overrides/wp-classes';

// Layouts
@import 'layouts/header';
@import 'layouts/footer';
@import 'layouts/front-page';
@import 'layouts/landing-page';
@import 'layouts/category-page';
@import 'layouts/about-page';
@import 'layouts/page-submissions';
@import 'layouts/resource-bucket';
@import 'layouts/resource-list';

// TinyMCE
@import "overrides/tinymce";

// Components
@import 'components/search-bar';
