.main-page-wrap {
  height: 100%;
  .main-page-section  {
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .main-page-link {
    padding:80px;
    font-size:4rem;
    text-transform:uppercase;
  }
}