.resource-category-list--title, .resource-list--title {
  padding:0 10px;
  text-align:center;
  font-size:3rem;
}

.resource-category-list, .resource-list {
  list-style:none;
  margin:0;
  padding:0;
  @include flex-container(wrap);


  .resource-category, .resource-card {
    padding:6px 10px;
    @include breakpoint {
      padding:20px 10px;
    }
    margin-bottom:10px;
    text-align:center;
    overflow: hidden;
    &--link {
      @include flex-container(wrap, center, center);
      transition: all $default-transition;
      padding:1.5rem .7rem;
      @include breakpoint {
        padding:3rem .7rem;
      }
      width:100%;
      height:100%;
      @extend .Raleway-header;
      text-transform:uppercase;
      font-size:1.9rem;
      @include word-wrap;

      color:black;
      font-weight:bold;
      background:white;
      border-color:$blue;
      border-width:2px;
      &:hover {
        color:white;
        font-weight:bold;
        background:$blue;
      }
    }
  } // .resource-tile

  .resource-card {
    @extend .resource-category;
    @include flex-container(wrap, center, center);
    border:2px $gray solid;
    text-align:left;

  }

  

} // .resource-category-list, .resource-list