$font-size:             2.4rem;
$font-size-sm:           1.8rem;

$font-ratio:            0.7556;
$font-ratio-sm:         0.5;
// Heading Styles
$headings: (
  h1: 7.6rem,
  h2: 4.8rem,
  h3: 3.2rem,
  h4: 2.8rem,
  h5: 2.7rem, // p.intro
  h6: 1.9rem
);


@import 'https://fonts.googleapis.com/css?family=Raleway:400,700';

.Raleway {
  font-family: 'Raleway', sans-serif;
}

h {
  &3{
    font-weight:bold;    
  }
  &4{
    font-weight:700;    
  }
}

.Clarendon {
  font-family: "clarendon-urw", "Merriweather", Georgia, serif;
  font-weight:400;
}

.Clarendon--light {
  font-family: "clarendon-urw", "Merriweather", Georgia, serif;
  font-weight:300;
}

.Clarendon--oblique {
  font-family: "clarendon-urw", "Merriweather", Georgia, serif;
  font-weight:700;
}


.Freight {
  font-family: "freight-text-pro", Georgia, serif;
  font-weight:400;
}
.Freight--light {
  font-family: "freight-text-pro", Georgia, serif;
  font-weight:300;
}
.Freight--book {
  font-family: "freight-text-pro", Georgia, serif;
  font-weight:400;
}
.Freight--medium {
  font-family: "freight-text-pro", Georgia, serif;
  font-weight:500;
}
.Freight--bold {
  font-family: "freight-text-pro", Georgia, serif;
  font-weight:700;
}

.Franklin {
  font-family: "franklin-gothic-urw-cond", Arial, Impact, serif;
}
.Franklin--medium {
  font-family: "franklin-gothic-urw-cond", Arial, Impact, serif;
  font-weight:500;
}
.Franklin--demi {
  font-family: "franklin-gothic-urw-cond", Arial, Impact, serif;
  font-weight:700;
}


.body-font {
  @extend .Freight--book;  
}


body {
  @extend .body-font;
}

h {
  &1{
    @extend .Clarendon;
    color:black;
    line-height:.9;
    margin-bottom:0.3em;
  }
  &2{
    @extend .Clarendon--light;
    color: $light-gray;
    margin-bottom: 30px;
    &.org-title {
      margin-bottom:5px;
    }
    @include breakpoint($breakpoint-sm) {
      line-height:1.3;
      margin-bottom: 10px;
    }
  }
  &3{
    @extend .Clarendon;
    line-height:1.2;
    margin-bottom:.6em;

    &.top-orgs-header {
      @extend .Freight;
      color: $gray;
      margin-top: 10px;      
    }
  }
  &4{
    @extend .Franklin--demi; letter-spacing:1px;
    text-transform:uppercase;
    color:$secondary-color;
  }
  &5{ // p.intro
    @extend .Freight;
    line-height:1.2;
    @include font-smoothing;
    a {
      @extend .Freight--bold;
    }
  }
}

@for $h from 1 through 6 {
  $font-size-h: map-get($headings, h#{$h});

  h#{$h} {
    font-size: $font-size-h * $font-ratio-sm;
    @include breakpoint(400px) {
      font-size: $font-size-h * $font-ratio;
    }
    @include breakpoint(700px) {
      font-size: $font-size-h;
    }
  }

}

p {
  color:$gray;
  @extend .Freight--medium;    
  &:not(.site-tagline) {
    @include font-smoothing;
  }

  font-size: $font-size * $font-ratio;
  @include breakpoint(700px) {
    font-size: $font-size;
  }
}

.intro p,
p.intro {
  @extend h5;
  color:$gray;
  margin-top: 3.2rem;
  &:first-of-type {
    margin-top: 2rem;
  }
  a {
    @extend .Freight--bold;
  }
}

.p--small {
  line-height:1.7;
  font-size: $font-size-sm * $font-ratio;
  @include breakpoint(700px) {
    font-size: $font-size-sm;
  }
}

a {
  transition: all $default-transition;
  color:$secondary-color;
  text-decoration:none;
  
  &:not(.btn) {
    border-bottom:2px solid $secondary-color;
  }

  &:hover {
    color:$secondary-color;
    text-decoration:none;
    &:not(.btn) {
      border-bottom:2px solid transparent;
    }
  }
}

.large-link {
  box-shadow: inset 0 0px 0 transparent, inset 0 -3px 0 $secondary-color;      
  &:hover {
    box-shadow: inset 0 0px 0 transparent, inset 0 -3px 0 transparent;
  }
}

