$font-size:             2.4rem;
$font-ratio:            0.7556;
$font-ratio-sm:         0.5;
// Heading Styles
$headings: (
  h1: 7.6rem,
  h2: 4.8rem,
  h3: 3.2rem,
  h4: 2.4rem,
  h5: 3rem, // p.intro
  h6: 1.9rem
);


@import 'https://fonts.googleapis.com/css?family=Raleway:400,700';

.Raleway {
  font-family: 'Raleway', sans-serif;
}

h {
  &3{
    font-weight:bold;    
  }
}

.Clarendon {
  font-family: "clarendon-urw", "Merriweather", Georgia, serif;
  font-weight:400;
  &--light {
    font-weight:300;
  }
  &--oblique {
    font-weight:700;
  }
}

.Freight {
  font-family: "freight-text-pro", Georgia, serif;
}

.Franklin {
  font-family: "franklin-gothic-urw-cond", Arial, Impact, serif;
  &--medium {
    font-weight:500;
  }
  &--demi {
    font-weight:700;
  }
}


.body-font {
  @extend .Clarendon;  
}


body {
  @extend .body-font;
  color:$gray;  
}

h {
  &1{
    @extend .Clarendon;
    color:black;
  }
  &2{
    @extend .Clarendon--light;
    color: $light-gray;
    margin-bottom: 30px;
    @include breakpoint($breakpoint-sm) {
      line-height:1.3;
      margin-bottom: 10px;
    }
  }
  &3{
    @extend .Clarendon;
    // line-height:1.4;
  }
  &4{
    @extend .Raleway;
    // line-height:1.4;
  }
  &5{ // p.intro
    @extend .Freight;
    line-height:1.2;
  }
}

@for $h from 1 through 6 {
  $font-size-h: map-get($headings, h#{$h});

  h#{$h} {
    font-size: $font-size-h * $font-ratio-sm;
    @include breakpoint(400px) {
      font-size: $font-size-h * $font-ratio;
    }
    @include breakpoint(700px) {
      font-size: $font-size-h;
    }
  }

}

p {
  font-size: $font-size * $font-ratio;
  @include breakpoint(700px) {
    font-size: $font-size;
  }

  &.intro {
    @extend h5;
  }
}

a {
  transition: all $default-transition;
  color:$secondary-color;
  border-bottom:2px solid $secondary-color;

  text-decoration:none;
  &:hover {
    color:$secondary-color;
    text-decoration:none;
    border-bottom:2px solid transparent;
  }
}

.large-link {
  box-shadow: inset 0 0px 0 transparent, inset 0 -3px 0 $secondary-color;      
  &:hover {
    box-shadow: inset 0 0px 0 transparent, inset 0 -3px 0 transparent;
  }
}

