@import 'https://fonts.googleapis.com/css?family=Raleway:400,700';

.Raleway {
  font-family: 'Raleway', sans-serif;
}

.Clarendon {
  font-family: "clarendon-urw", "Merriweather", Georgia, serif;
  font-weight:400;
  &--light {
    font-weight:300;
  }
  &--oblique {
    font-weight:700;
  }
}

.Freight {
  font-family: "freight-text-pro", Georgia, serif;
}

.Franklin {
  font-family: "franklin-gothic-urw-cond", Arial, Impact, serif;
  &--medium {
    font-weight:500;
  }
  &--demi {
    font-weight:700;
  }
}



.Raleway-header {
  @extend .Raleway;  
  letter-spacing: .03em;
}

.Clarendon-header {
  @extend .Clarendon;  
}

.header-font {
  // @extend .Raleway-header;
  @extend .Clarendon-header;
}

.body-font {
  @extend .Clarendon;  
}


body {
  @extend .body-font;
  color:$gray;  
}

h {
  &1{
    @extend .header-font;
  }
  &2{
    @extend .header-font;
    margin-bottom: 30px;
    @include breakpoint($breakpoint-sm) {
      line-height:1.3;
      margin-bottom: 10px;
    }
  }
  &3{
    @extend .header-font;
    font-size:3rem;
    font-weight:bold;    
    line-height:1.4;
  }
}

a {
  transition: all $default-transition;
  color:$secondary-color;
  border-bottom:1px solid $secondary-color;
  text-decoration:none;
  &:hover {
    color:$secondary-color;
    text-decoration:none;
    border-bottom:1px solid transparent;
  }
}


