.search-module--wrap {
  
  .search-bar-prompt {
    @extend .Freight;
    font-weight:400;
    width:100%;
    max-width:550px;
  }

}


.search-bar--wrap {
  color:white;
  background:$secondary-color;
  padding:40px;
  text-align: center;
  label {
    // width:80%;
    // margin-left:10%;
  }
  .search-field {
    @extend .Clarendon--light;
    font-size:4.5rem;

    background:transparent;
    transition:all $default-transition;
    border-bottom:3px solid white;
    padding:6px 12px;
    width:60%; 
    // margin-left:20%;

    &::placeholder {
      color:white;    
    }

    &:focus, &:active {
      width:80%;
      margin-left:10%;
      outline:0;
      &::placeholder {
        transition:color $default-transition;
        color:rgba(white, .5);
      }
      // border-bottom-color:$brand-color;
    }
  }
} // .search-bar--wrap
