.search-module--wrap {
  
  .search-bar-prompt {
    @extend .Freight;
    font-weight:400;
    width:100%;
    max-width:550px;
  }

}


.search-bar--wrap {
  color:white;
  background:$secondary-color;
  padding:6em 0;
  margin:1.5em 0;
  text-align: center;
  box-shadow:0 0px 13px rgba(0,0,0,0.5);

  label {
    // width:80%;
    // margin-left:10%;
  }
  .search-field {
    @extend .Clarendon--light;
    font-size:3rem;

    background:transparent;
    transition:all $default-transition;
    border-bottom:3px solid white;
    padding:6px 12px;

    @include breakpoint(850px) {    
      font-size:4.5rem;
      width:calc(80% - 3.3em);
    }
    // margin-left:20%;

    &::placeholder {
      transition:color $default-transition;
      color:white;    
    }

    &:focus, &:active {
      @include breakpoint(850px) {    
        width:calc(90% - 3.3em);
      }
      outline:0;
      &::placeholder {
        color:rgba(white, 0);
      }
      // border-bottom-color:$brand-color;
    }
  } // .search-field

  .search-submit {
    @extend h3;
    border:0;
    background:transparent;
    padding:.2em;
    @include breakpoint(850px) {    
      font-size:3em;
    }    
    &:hover, &:active, &:focus {
      .fa-circle {
        color:$secondary-color;
      }
      .fa-search {
        color:white;
      }
    }
    .fa {
      transition:color $default-transition;
      &:focus, &:active {
        outline:none;
      }
    }
    .fa-circle {
      color:white;
    }
    .fa-search {
      color:$secondary-color;
    }
  }
} // .search-bar--wrap
