body.about, body.who-we-are {
  
  .content-wrap {
    padding-top:7rem;
    padding-bottom:7rem;
  }

  .page--content {
    h3:first-child {
      margin-top:0;
    }
  }
  .about-page--cta {
    @extend h4;
    text-decoration:none;

    color:$secondary-color;
    border-bottom:none;

    display:block;

    margin:1em 0;

    $arrow-padding-init:.8em;    
    &:hover, &:focus, &:active {
      color:rgba(black, .7);
      box-shadow: none;
      color:lighten($secondary-color, 10%);
      text-decoration:underline;
      i {
        padding-left: $arrow-padding-init + .3em;
        color: lighten($secondary-color, 10%);
      }
    }

    // icons
    i {
      padding-left: $arrow-padding-init;      
      font-size:.8em;
      padding-bottom:.3em;
      vertical-align: middle;
      transition: all $default-transition;      
    }
  }

}

body.who-we-are {
  .page--content {
    hr {
      border:0.4em solid $secondary-color;
    }
  }
}