body.archive {
  .content-wrap {
    padding-top:7rem;
    padding-bottom:7rem;
  }

  p {
    @extend .p--small;
    line-height: 1.6;
  }

  .org-list {
    margin-top:4rem;
    .org-item {
      border-bottom:1px solid $light-gray;
      padding-bottom:2rem;  
      margin-bottom:2rem;

      .org-meta {
        color:$gray;

        .contact-list {
          @extend .Franklin;
          text-transform:uppercase;
          a {
            border-bottom: 0;
            &:hover, &:focus {
              color:darken($secondary-color, 10%);
            }
          }
        }

        .tag-list {
          margin-bottom:.8em;
          @include font-smoothing;
          h5 {
            display: inline-block;
            font-size:1.6rem;
            color:black;
          }
          ul {
            margin-left: 0;
          }
          li {
            padding-right: 0;
            font-style: italic;
          }
          a {
            color:$gray;
            font-size:1.6rem;
            &:hover, &:focus {
              color:$secondary-color;
            }
          }
        }
      }
    }

    .org-title {
      @extend h4;
      font-size:3.5rem;
      a {
        border-bottom-color:transparent;
        &:hover, &:active, &:focus {
          text-decoration:underline;
        }
      }
    }
  }
}