body.archive, body.search-results {
  .content-wrap {
    padding-top:7rem;
    padding-bottom:7rem;
  }

  .small p {
    @extend .p--small;
    line-height: 1.6;
  }

  .org-list {
    margin-top:4rem;
    .org-item {
      // border-bottom:1px solid $light-gray;
      padding-bottom:2rem;  
      margin-bottom:2rem;

      .contact-list {
        @extend .Franklin--medium;
        text-transform:uppercase;
        color:$light-gray;
        font-size:2rem;
        letter-spacing:1px;
        margin-bottom:1em;
        a {
          border-bottom: 0;
          &:hover, &:active, &:focus {
            color:$link-hover-color;
          }
        }
      }

      .org-meta {
        color:$gray;

        .services-list {
          margin-bottom:.8em;
          vertical-align: bottom;
          @include font-smoothing;
          h5 {
            display: inline-block;
            font-size:1.6rem;
            color:black;
          }
          ul {
            margin-left: 0;
          }
          li {
            padding-right: 0;
            font-style: italic;
          }
          a {
            color:$gray;
            font-size:1.6rem;
            &:hover, &:active, &:focus {
              color:$secondary-color;
            }
          }
        }
      }
    }

    .org-title {
      @extend h4;
      font-size:3.5rem;
      a {
        color:$black;
        border-bottom:2px solid transparent;
        
        &:after {
          content:'';
          display:block;
          height:0.3em;
          border-bottom:2px solid $light-gray;
        }

        &:hover, &:active, &:focus {
          color:$secondary-color;
          border-bottom:2px solid transparent;
        }
        .fa-chevron-right {
          font-size:.7em;
        }

      }
    }
  }
}