body.archive,
body.search-results,
body.blog {
  .content-wrap {
    padding-top:7rem;
    padding-bottom:7rem;
  }

  .small p {
    @extend .p--small;
    line-height: 1.6;
  }

  .sub-cat-breadcrumbs {
    @extend .Clarendon--light;
    font-size: 1.9rem;
    color: $light-gray;
    margin-bottom:.5em;
    a {
      // border-bottom:0;
      &:hover, &:active, &:focus {
        // text-decoration:underline;
        // border-bottom:0;
      }

    }
  }

  .archive-list-header {
    display: inline-block;
    position:relative;
    // @include breakpoint(992px) {
    //   min-width: 100%;
    // }
  }

  .sub-cat-list {
    color:$light-gray;
    padding-top:2rem;

    // Positioning this on the bottom right of the list header
    // Wasn't working when the header was smaller than the sub cat list
    // @include breakpoint(992px) {
    //   padding-left:0;
    //   position: absolute;
    //   bottom:0;
    //   right:0;
    // }

    p {
      @extend .p--small;
      color:$gray;
      font-style:italic;
      line-height:1.3;
    }

    .list-header {
      @extend .Franklin--demi;      
      text-transform:uppercase;
      letter-spacing:1px;
      font-size:2rem;
      margin-top:2.5rem;
      margin-bottom:1.5rem;
    }

    li {
      @extend .Franklin--medium;      
      font-size:2rem;
      letter-spacing:2px;
      line-height:2.2;
      display:inline-block;
      &:not(:last-child) {
        margin-right:0.4em;
      }
      a {
        color:white;
        text-transform:uppercase;
        background-color:$secondary-color;
        border:2px solid $secondary-color;
        padding:.2em .5em;
        &:hover, &:active, &:focus {
          text-decoration:none;
          color:$secondary-color;
          background-color:white;
        }

      }
    }
  }

  .org-list {
    margin-top:4rem;
    .org-item {
      // border-bottom:1px solid $light-gray;
      padding-bottom:2rem;  
      margin-bottom:2rem;

      .contact-list {
        @extend .Franklin--medium;
        text-transform:uppercase;
        color:$light-gray;
        font-size:2rem;
        letter-spacing:1px;
        margin-bottom:1em;
        a {
          border-bottom: 0;
          &:hover, &:active, &:focus {
            color:$link-hover-color;
          }
        }
      }

      .org-meta {
        color:$gray;

        .services-list {
          margin-bottom:.8em;
          vertical-align: bottom;
          @include font-smoothing;
          h5 {
            display: inline-block;
            font-size:1.6rem;
            color:black;
          }
          ul {
            margin-left: 0;
          }
          li {
            padding-right: 0;
            font-style: italic;
          }
          a {
            color:$gray;
            font-size:1.6rem;
            &:hover, &:active, &:focus {
              color:$secondary-color;
            }
          }
        }
      }
    }

    .org-title {
      @extend h4;
      font-size:3.5rem;
      a {
        color:$black;
        border-bottom:2px solid transparent;
        
        &:after {
          content:'';
          display:block;
          height:0.3em;
          border-bottom:1px solid $light-gray;
        }

        &:hover, &:active, &:focus {
          color:$secondary-color;
          border-bottom:2px solid transparent;
        }
        .fa-chevron-right {
          font-size:.7em;
        }

      }
    }

    .read-more {
      @extend .nowrap;
      border-bottom:2px solid transparent;
      &:hover, &:active, &:focus {
        border-bottom:2px solid $secondary-color;
      }

    }
  }

  .page--content {
    padding-left: 0;
    padding-right: 0;
  }
}
