body.archive {
  .content-wrap {
    padding-top:7rem;
    padding-bottom:7rem;
  }

  .org-list {
    margin-top:4rem;
    .org-item {
      border-bottom:1px solid $light-gray;
      padding-bottom:2rem;  
      margin-bottom:2rem;

      .org-meta {
        .btn {
          @extend .Raleway;
          text-transform:uppercase;
        }

        .tag-list {
          margin-bottom:.8em;
          h5 {
            font-size:1.6rem;
            color:black;
          }
          a {
            color:black;
            text-transform:capitalize;
            border-bottom:2px solid #797a7d;
            padding:0.3em 0.3em;
            display:inline-block;
            margin-right:0.9em;
            margin-bottom:.25em;
            font-size:1.6rem;
            &:hover, &:focus {
              color:$secondary-color;
              border-bottom-color:$secondary-color;
            }
          }
        }
      }
    }

    .org-title {
      @extend h4;
      font-size:3.5rem;
      a {
        border-bottom-color:transparent;
        &:hover, &:active, &:focus {
          text-decoration:underline;
        }
      }
    }
  }
}