.explore {
  .page-wrap {
    // body.need-help & a {
    //   color:$brand-color;
    // }
    .tag-list {
      display:block;
      @extend .Freight;
      li {
        margin-bottom:.2em;
      }
    }
    hr {
      display:inline-block;
      width:100%;
      border-width:0.8em;
      border-color:$secondary-color;
    }
  }
  p.intro {
    font-size:2.3em;
  }
}