footer {
  padding:40px 0;
  margin-top: 30px;
  box-shadow:0 1px 11px rgba(0,0,0, 0.3);

  @extend .Freight;

  p {
    font-size:1.8rem;
    color:#888;
    font-weight:500;
    @include font-smoothing;
  }

  a {
    &:link, &:visited {
      @extend .Franklin--book;
      text-transform: uppercase;
      border-bottom:0;
      text-decoration:none;
    }
    &:hover, &:active, &:focus {
      text-decoration:underline;
    }
  }

  .widget .social-icons {
    font-size: 2.6rem;

    li {
      padding-right: 1.2rem;
    }
    @media (max-width:$breakpoint-sm) {
      margin-top:.5em;
      text-align:center;
      li {
        padding-left:1.2rem;
        width:50px;
      }
    }
  }

  .nav-footer {
    // @extend h4;
    @include font-smoothing;
    font-size:3rem;
    text-align:center;
    margin-top:2rem;
    @include breakpoint($breakpoint-sm) {
      margin-top:0;
      text-align:right;
      font-size: 1.8rem;
    }

  }

} // footer