footer {
  padding:40px 0;
  box-shadow:0 1px 11px rgba(0,0,0, 0.3);

  @extend .Freight;

  a {
    &:link, &:visited {
      border-bottom:0;
    }
    &:hover, &:active {
      text-decoration:underline;
    }
  }

  .footer-wrap {}

} // footer