footer {
  padding:40px 0;
  margin-top: 30px;
  box-shadow:0 1px 11px rgba(0,0,0, 0.3);

  @extend .Freight;

  p {
    font-size:1.8rem;
    color:#888;
    font-weight:500;
    @include font-smoothing;
  }

  a {
    &:link, &:visited {
      font-weight:600;
      border-bottom:0;
      text-decoration:none;
    }
    &:hover, &:active, &:focus {
      text-decoration:underline;
    }
  }

  .widget .social-icons {
    font-size: 2.6rem;

    li {
      padding-right: 1.2rem;
    }
  }

  .nav-footer {
    @include font-smoothing;
    font-size: 1.8rem;
  }

} // footer