body.home {

  .home-page-section {

    margin:3rem 0 4.5rem;

    .home-page-ctas--wrap {
      @extend .Clarendon--light;
      font-size:5rem;
      color:$light-gray;
    }

    .home-page-ctas--list {
      @extend h2;
      @extend .Clarendon--light;
      line-height:1.5 ;
      @include breakpoint($breakpoint-sm) {
        line-height:1.3;
      }

      .large-link {
        @extend .Clarendon;
      }
    }

    .large-link {
      border-bottom:0px;
      box-shadow: inset 0 0px 0 transparent, inset 0 -3px 0 $brand-color;
      &:hover, &:active, &:focus {
        text-decoration:none;
        box-shadow: inset 0 0px 0 transparent, inset 0 -3px 0 transparent;
      }      
    }

    &--need-help {
      .large-link {
        color:$brand-color;
        border-bottom:0;
        // border-bottom-color:$brand-color;
      }
    }
    &--want-to-help {
      .large-link {
        color:$secondary-color;
        border-bottom:0;        
        box-shadow: inset 0 0px 0 transparent, inset 0 -3px 0 $secondary-color;        
      }
    }

    &--title {
      @extend h1;
      font-size:6.5rem;
      @include breakpoint($breakpoint-sm) {
        font-size:8rem;
      }

      &,
      a {
        color: black;
      }

      // TODO : turn arrow hover behaviors and colors into mixin or sumtin
      $arrow-padding-init:0.7em;
      a,
      &:hover, &:focus, &:active {
        color:black;
        box-shadow: none;
      }

      a {
        border-bottom:0;
        text-decoration:none;
      } 
    }

  } // .home-page-section
  .home-page-resources-cta {
    margin-top:3rem;
    a {
      &:link, &:visited {
        color: $brand-color;
        border-bottom-color:$brand-color;
      }
      &:hover, &:active, &:focus {
        color: $brand-color;
        border-bottom-color:transparent;
      }      
    }
  }
}