body.get-involved {
  .mailchimp-signup-form {
    background:$secondary-color;
    padding:1em 1.5em;

    h2 {
      margin-top:0;
      margin-bottom:0.5em;
    }
    h2, label {
      color:white;
    }
    label,input[type="text"], input[type="email"], input[type="tel"] {
      margin-bottom:0.8em;
      margin-right:0.3em;
      border:none;
    }
    label {
      @extend .Franklin--medium;
      text-transform: uppercase;
    }
    input {
      font-size:2rem;
      padding:.2em .4em;
      &[type="submit"] {
        transition:all $default-transition;
        @extend .Franklin--demi;
        text-transform: uppercase;
        padding:0.4em 0.6em;
        background:$secondary-color;
        color:white;
        border:2px solid white;
        text-transform: uppercase;
        font-size:2.5rem;
        -webkit-font-smoothing: antialiased;
        &:hover, &:active, &:focus {
          background:white;
          color:$secondary-color;
        }
      }
    }
  }
}