.lading-page--wrap {
  height: 100%;
  
  .intro--wrap {
    padding-right:2em;
    .intro {
      @include breakpoint($breakpoint-sm) {
        padding-top: 40px;
      }

      p {
        @extend h5;
      }
      a {
        color:$brand-color;
        text-decoration:none;
        &:hover {
          color:black;
          text-decoration:none;
        }
      }
    }
  }

  .main-page-link {
    padding:80px;
    font-size:4rem;
    text-transform:uppercase;
  }

  body.need-help & {
    a {
      color:$brand-color;
      &:hover {
      }
    }
  }

} // .landing-page-wrap

