.add-an-organization {

  .org-search-form--wrap {
    .acf-form-submit {
      display:none;
    }
  }
  
  .page-title {
    @extend h3;
    margin-bottom: 10px;
    color: black;

    $font-size-h: 5.2rem;
    font-size: $font-size-h * $font-ratio-sm;
    @include breakpoint(400px) {
      font-size: $font-size-h * $font-ratio;
    }
    @include breakpoint(700px) {
      font-size: $font-size-h;
    }


  }

  // Content Editor
  .mce-toolbar-grp,
  .wp-editor-tools,
  .mce-statusbar {
    display: none;
  }


  .acf-field {
    .acf-label {
      label {
        font-size:$font-size;
        line-height:1.2;
      }
      p.description {
        font-size:$font-size-sm;
      }
    }
    input {
      font-family:monospace;
    }
    ul.acf-checkbox-list, ul.acf-radio-list {
       li {
          font-size:$font-size-sm;
          margin-bottom:.5em;
          width:100%;

          @include breakpoint(321px) {
            width:auto;
          }

          input {
            margin-right:0.5em;
          }
        }
    }
  }

  .acf-google-map .canvas {
    max-height: 50vh;
  }

}