.add-an-organization {
  
  .page-title {
    @extend h3;
    font-size: 5.2rem;
    margin-bottom: 10px;
    color: black;

  }

  .add-org-msg--wrap {
    text-align:center;
    .acf-label {
      display:inline-block;
      label {
        padding:10px 20px;
        font-size:16px;
      }
    }
    .acf-input {
      display:inline-block;
    }
    .add-org-btn {
      a {
        @extend .btn;
        @extend .btn-info;
      }
    }
  }

  // Content Editor
  .mce-toolbar-grp,
  .wp-editor-tools,
  .mce-statusbar {
    display: none;
  }


  .acf-field {
    .acf-label {
      label {
        font-size:$font-size;
      }
      p.description {
        font-size:$font-size-sm;
      }
    }
    input {
      font-family:monospace;
    }
  }

}