.add-an-organization {

  .org-search-form--wrap {
    .acf-form-submit {
      display:none;
    }
  }
  
  .page-title {
    @extend h3;
    font-size: 5.2rem;
    margin-bottom: 10px;
    color: black;

  }

  // Content Editor
  .mce-toolbar-grp,
  .wp-editor-tools,
  .mce-statusbar {
    display: none;
  }


  .acf-field {
    .acf-label {
      label {
        font-size:$font-size;
      }
      p.description {
        font-size:$font-size-sm;
      }
    }
    input {
      font-family:monospace;
    }
  }

}