.single-lfr_org {
	p {
		font-size: 2.2rem;
	}

	.content-wrap {
		padding-bottom: 0;
	}

	.entry-title {
		// TODO : Refactor this so it extends an h1 in _typography.scss
		font-size:4rem;	  
		@media (min-width:$breakpoint-md) {
			font-size:5.4rem;	  
		}
		@media (min-width:$breakpoint-lg) {
			font-size:6.4rem;	  
		}
	}
}

.single-map {
	width: 100%;
	height: 280px;
	margin: -20px 0 1rem;
	background: #E5E3DF;

	.marker {
		visibility: hidden;
	}

	img {
		max-width: inherit !important;
	}
}

.single-sidebar {
	line-height: 1.4;
	@extend .Franklin--medium;
	letter-spacing: 0.03em;
	@include font-smoothing;
	color: #A7A9AB; //@TODO change this to global colors


	@media (min-width:$breakpoint-lg) {
		border-left:1px solid $light-gray;
		padding-left:4%;
		margin-left:4.333333%;
	}
	
	// @TODO: This is the same as the footer anchors, merge and @extend.
	a {
		&:link, &:visited {
	    text-transform: uppercase;
	    border-bottom:0;
	    text-decoration:none;
		}
		&:hover, &:active, &:focus {
		  text-decoration:underline;
		}
	}

	.org-location {
		text-transform: uppercase;
		color: $text-color;
	}

	h3 {
		@extend .Franklin--demi;
		margin-top: 25px;
		margin-bottom: 3px;
		font-size: 2rem;
		color: inherit;
		text-transform: uppercase;
	}

	.org-contacts > ul,
	.org-services {
		@extend .Freight--book;
		padding-left: 20px;
		list-style: disc;
	}

	.org-contacts {

		&--name span {
			color: $text-color;
		}

		&--details a {
			text-transform: none;
			padding-left: 8px;
			&:first-of-type {
				padding-left: 0;
				padding-right: 8px;
			}
		}
	}

	.org-services a {
		text-transform: none;
		font-style: italic;
	}
}

.single-footer {
	color: #6D6E70; //@TODO change this to global colors
	h5 {
		margin-top: 60px;
		margin-bottom: 0;
	}

	.large-link {
		box-shadow: none;
	}
}
