footer {
  text-align:center;
  margin-top: 40px;
  box-shadow:0 1px 11px rgba(0,0,0, 0.3);

  .footer-msg-wrap {
    padding:20px;
    // background:$brand-color;
  }

  .disclaimer {
    @extend .small;
  }
} // footer