body.home {

  .home-page-section {

    margin:3rem 0 5rem;

    .home-page-ctas--wrap {
      @extend .Clarendon--light;
      font-size:5rem;
      color:$light-gray;
    }

    .home-page-ctas--list {
      @extend h2;
      @extend .Clarendon--light;
      .large-link {
        @extend .Clarendon;
      }
    }

    .large-link {
      border-bottom-width:3px;
      box-shadow: inset 0 0px 0 transparent, inset 0 -3px 0 $brand-color;      
      &:hover, &:focus {
        text-decoration:none;
        box-shadow: inset 0 0px 0 transparent, inset 0 -3px 0 transparent;
      }      
    }

    &--need-help {
      .large-link {
        color:$brand-color;
        border-bottom:0;
        // border-bottom-color:$brand-color;
      }
    }
    &--want-to-help {
      .large-link {
        color:$secondary-color;
        border-bottom:0;        
        box-shadow: inset 0 0px 0 transparent, inset 0 -3px 0 $secondary-color;        
      }
    }

    &--title {
      @extend h1;
     font-size:8rem;

      &,
      a {
        color: black;
      }

      $arrow-padding-init:.5em;
      a,
      &:hover, &:focus, &:active {
        color:rgba(black, .7);
        box-shadow: none;
        i {
          padding-left: $arrow-padding-init + .3em;
          color: #DFDFDF;
        }
      }

      a{
        border-bottom:0;
        text-decoration:none;
        i {
          padding-left: $arrow-padding-init;
          padding-bottom: 0.3em;
          color: #ECECEC;
          font-size: 0.5em;
          vertical-align: middle;
          transition: all $default-transition;
        }
      } 
    }

  } // .home-page-section
}