body.home {

  .home-page-section {

    margin:3rem 0 5rem;

    &--title {
      @extend h1;
      color:black;
      a {
        color:black;
        border-bottom:0;
        text-decoration:none;
        &:hover, &:focus, &:active {
          color:rgba(black, .7);
        }
      }
    }

    .home-page-ctas--wrap {
      @extend .Clarendon--light;
      font-size:5rem;
      color:$light-gray;
    }

    .home-page-ctas--list {
      @extend h3;
      @extend .Clarendon--light;
      .large-link {
        @extend .Clarendon;
      }
    }

    .large-link {
      border-bottom-width:3px;
      box-shadow: inset 0 0px 0 transparent, inset 0 -3px 0 $brand-color;      
      &:hover {
        box-shadow: inset 0 0px 0 transparent, inset 0 -3px 0 transparent;
      }      
    }

    &--need-help {
      .large-link {
        color:$brand-color;
        border-bottom:0;
        // border-bottom-color:$brand-color;
      }
    }
    &--want-to-help {
      .large-link {
        color:$secondary-color;
        border-bottom:0;        
        box-shadow: inset 0 0px 0 transparent, inset 0 -3px 0 $secondary-color;        
      }
    }



  } // .home-page-section
}