header {
  @extend .Raleway-header;
  .nav {
    padding:10px;
    background: white;

    box-shadow:0 1px 11px rgba(0,0,0, 0.3);

    .site-title--wrap {
      @extend .Franklin;
      h1 {
        display:inline-block;
        font-family:inherit;
      }
    }

    .site-title--link {
      @extend .Franklin--demi;
      font-size:3.3rem;
      line-height:1;
      text-transform:uppercase;

      color:$brand-color;
      width:200px;
      display:inline-block;

      margin-bottom:5px;
      border-bottom:0;

      box-shadow: none;
      &:hover {
        box-shadow: none;
      }
    }
    .site-tagline {
      @extend .Freight;
      color:$light-gray;      
      font-size:2.9rem;
      line-height:1.2;
      font-weight:400;
      text-transform:none;
      letter-spacing:1px;
      width:330px;
      display:inline-block;
    }
  }

}