.lading-page--wrap {
  height: 100%;
  
  .intro--wrap {
    // text-align:center;
    .intro {
      // color:white;
      // background:$teal;
      padding:25px 10px 10px;
      @include breakpoint($breakpoint-sm) {
        padding-top: 40px;
      }
      a {
        color:$brand-color;
        text-decoration:underline;
        &:hover {
          color:black;
          text-decoration:none;
        }
      }
    }
  }

  .main-page-link {
    padding:80px;
    font-size:4rem;
    text-transform:uppercase;
  }

  .search-bar--wrap {
    label {
      width:80%;
      margin-left:10%;
    }
    .search-field {
      transition:all $default-transition;
      border-bottom:2px solid $gray;
      padding:6px 12px;
      font-size:2.5rem;
      width:60%;
      margin-left:20%;
      &:focus, &:active {
        width:90%;
        margin-left:5%;
        outline:0;
        border-bottom-color:$brand-color;
      }
    }
  } // .search-bar--wrap

} // .front-page-wrap